<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chino's Phonebook</title>
</head>
<body>
    <div id="app">
            <center>
                <br>
                <br>
                <label for="name">Name: </label>
                <input type="text" id="name" v-model="name">
                <label for="name">Phone Number: </label>
                <input type="text" id="phonenumber" v-model="phonenumber">
                <button v-on:click="insertInfo">Add</button>
                <br>
                <br>
                <table border="1" width="50%">
                    <thead>
                        <th>Name</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr v-for="user in phonebookinfo">
                                <td> {{user.name}} </td>
                                <td> {{user.phonenumber}} </td>
                                <td align="center"><button v-on:click="deleteInfo(user.id)">DELETE</button></td>
                            </tr>
                        </tbody>
                    </table>
            </center>
    </div>
    <script src="axios.min.js"></script>
    <script src="vue.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>