body {
    background: rgb(255, 255, 255);
    color: black;
    font-family: 'Century Gothic';
  }

  .table-striped > tbody > tr:nth-child(2n + 1) > td,
  .table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: rgb(137, 170, 248);
  }
  .row .alert {
    margin-top: 25px;
  }
  th, td {
    border-top: none !important;
    
  }

  th {
    text-align: center;
  }

  .noCenter {
      text-align: center;
  }
  
  .btn .btn-success .form-control{
	  background-color: red;
  }
  
  h3 {
    background-color: rgb(13, 119, 90);
    padding: 12px;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: .1em;
  }
  
  .close, .close:hover {
    color: white;
  }
  
  .btn {
    font-weight: bolder;
    letter-spacing: .1em;
  }
  